body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  section {
    padding: 20px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .project-link {
    color: #001bb6;
  }
  
  .experience-item, .education-item, .project-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f4f2f2a4;
  }

  /* Default styles for the about-me section */
  #about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
  }

  .about-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .about-img {
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 90%;
  }

  .about-text {
    flex: 2;
    margin-left: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }

  .centered-container {
    max-width: 80%;
    margin: 0 auto;
  }

  .centered-container2 {
    max-width: 100%;
    margin: 0 auto;
  }

  .job-info {
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Change to column layout for smaller screens */
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px; /* Add padding for spacing */
  }
  
  .job-info strong {
    font-weight: bold;
  }

  .nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


 /* Base styles for buttons to ensure they look good on all devices */
  .nav-buttons button {
    padding: 10px 20px; /* Increase padding */
    font-size: 16px; /* Increase font size */
    margin: 5px; /* Add some space around buttons */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
    border: none; /* Remove border */
    background-color: #007bff; /* Example background color */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
  }

  .nav-buttons button:hover {
    background-color: #0056b3; /* Darker shade on hover for better interaction feedback */
}

.button-container {
  text-align: right;
  margin-right: 20px;
}

#downloadCVButton {
  padding: 10px 20px; /* Adjust padding as per your nav design */
  background-color: #007bff; /* Example background color, match with your nav */
  color: white; /* Text color, match with your nav */
  border: none;
  border-radius: 5px; /* Adjust as per your nav design */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#downloadCVButton a {
  text-decoration: none;
  color: inherit; /* This makes the link color inherit from the button */
}

#downloadCVButton:hover {
  background-color: #0056b3; /* Darker shade on hover, adjust as per your nav */
}

 #experience-content {
    border: 1px solid #cccccc;
    padding: 20px;
}

 #education-content {
    border: 1px solid #9e0000;
    padding: 20px;
}

 #skills-content {
    border: 1px solid #ffd500;
    padding: 20px;
}

 #experiences-content {
    border: 1px solid #00ff44;
    padding: 20px;
}

/* Default font size for h3 */
h3 {
    font-size: 1.5em; /* Adjust as needed */
}

#work-experience img {
  width: 50%;
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 20px auto 0;
}

@media (max-width: 425px) {
  h3 {
    font-size: 1em; /* Further reduce font size for very small screens */
  }

  .nav-buttons button {
      display: inline-grid;
      padding: 4px 8px; /* Reduce padding to make buttons smaller */
      font-size: 12px; /* Decrease font size for better readability */
  }

  #work-experience img {
    width: 60%; /* Ensure images take full width */
    margin: 10px auto; /* Reduce margin for a tighter layout */
  }

  .centered-container,
  #about-me,
  .about-text {
    max-width: 100%; /* Ensure all containers take full width */
    padding: 0 10px; /* Add padding to avoid content touching the screen edges */
    text-align: center; /* Center-align text for better readability */
  }
  .about-img {
    width: 60%; /* Adjust the width of the image */
  }

  .job-info {
    flex-direction: column; /* Stack job info vertically for better space utilization */
    align-items: center; /* Center-align items for consistency */
    justify-content: center; /* Ensure content is centered within the container */
    margin: 10px 0; /* Add margin for spacing between job info blocks */
  }

  .about-text {
    margin-left: 0; /* Reset margin-left as it's no longer needed */
  }

  .about-img {
    margin-bottom: 15px; /* Adjust space between image and text for tighter layout */
  }
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .centered-container {
    max-width: 100%;
  }

  .nav-buttons button {
    padding: 15px 30px; /* Increase padding for larger touch targets */
    font-size: 18px; /* Increase font size for better readability */
  }

  .button-container {
    text-align: center;
    margin-right: 0; /* Reset the right margin to ensure center alignment */
  }

  .job-info {
    flex-direction: row; /* Change back to row layout for larger screens */
    align-items: center;
    justify-content: space-between;
    padding: 0; /* Remove padding for larger screens */
  }
  
  h3 {
    font-size: 1.3em; /* Adjust as needed */
  }
  /* Ensure images within the work experience section have a width of 100% */
  #work-experience img {
    width: 100%;
  }

  #about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    margin-left: 0;
    text-align: center;
  }

  .about-img {
    width: 100%;
    max-width: none;
    margin-bottom: 20px; /* Add space between image and text */
  }
}